# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

.gitignore
.idea/
.vscode/
.DS_Store/

1.1/tests/
1.1/bin/

1.2/tests/
1.2/bin/

1.3/tests/
1.3/bin/

1.4/tests/
1.4/bin/

5th\ week/IRs/*
5th\ week/llvm-basic-pass-main/build/*
!5th\ week/llvm-basic-pass-main/build/CMakeLists.txt

5th\ week/llvm-basic-pass-main/src/include/

final_task/IRs/*
final_task/llvm-basic-pass-main/build/*
!final_task/llvm-basic-pass-main/build/CMakeLists.txt

final_task/llvm-basic-pass-main/src/include/
final_task/llvm-basic-pass-main/LICENSE

